COMPOSE_PROJECT_NAME=magento2

MAGENTO_VERSION=2.4.8
MAGENTO_EDITION=community
MAGENTO_PROJECT=magento/project-community-edition
MAGENTO_MARKETPLACE_PUBLIC=
MAGENTO_MARKETPLACE_PRIVATE=
MAGENTO_BASE_URL=http://localhost/
MAGENTO_BACKEND_FRONTNAME=admin
MAGENTO_LANGUAGE=en_US
MAGENTO_CURRENCY=USD
MAGENTO_TIMEZONE=Asia/Kolkata

MAGENTO_ADMIN_FIRSTNAME=Admin
MAGENTO_ADMIN_LASTNAME=User
MAGENTO_ADMIN_EMAIL=admin@example.com
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=Admin123!@#

MAGENTO_DB_HOST=db
MAGENTO_DB_PORT=3306
MAGENTO_DB_NAME=magento
MAGENTO_DB_USER=magento
MAGENTO_DB_PASSWORD=magento
MYSQL_ROOT_PASSWORD=root

MAGENTO_REDIS_HOST=redis
MAGENTO_REDIS_PORT=6379

MAGENTO_OPENSEARCH_HOST=opensearch
MAGENTO_OPENSEARCH_PORT=9200
MAGENTO_OPENSEARCH_INDEX_PREFIX=magento2
OPENSEARCH_INITIAL_ADMIN_PASSWORD=Mag3nto!Op3nSearch2026

MAGENTO_RABBITMQ_HOST=rabbitmq
MAGENTO_RABBITMQ_PORT=5672
MAGENTO_RABBITMQ_USER=guest
MAGENTO_RABBITMQ_PASSWORD=guest

MAIL_HOST=mailpit
MAIL_PORT=1025

PMA_PORT=8080
MAILPIT_UI_PORT=8025
RABBITMQ_UI_PORT=15672
OPENSEARCH_PORT=9200

# --- Project 1 ---
MYDEMO1_BASE_URL=https://mydemo1.local/
MYDEMO1_DB_NAME=mydemo1
MYDEMO1_DB_USER=mydemo1
MYDEMO1_DB_PASSWORD=mydemo1pass
MYDEMO1_OPENSEARCH_INDEX_PREFIX=mydemo1

# --- Project 2 ---
MYDEMO2_BASE_URL=https://mydemo2.local/
MYDEMO2_DB_NAME=mydemo2
MYDEMO2_DB_USER=mydemo2
MYDEMO2_DB_PASSWORD=mydemo2pass
MYDEMO2_OPENSEARCH_INDEX_PREFIX=mydemo2